body {
	background: salmon;
	height: 300vh;
	
}

li {
	font-size: 20px;
	border: 2px black solid;
	color: yellow;
	padding: 10px;
}

.m {
	height: 50vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
	padding; 0:
}

.logo {
	height: 40vh;
	margin-right: 70px;
	float: left;
	text-align: center;
	background-image: url(../images/mikel.png);
	background-position: center;
	background-repeat: no repeat;
	background-size: cover;

}

.fixed-nav-bar {
	height: 15vh;
	width: 90%;
	position: fixed;
	top: 15px;
	bottom: 15px;
	right: 15px;
	left: 15px;
	z-index: 9999;
}

li {
	background: lightsalmon;
	border: 6px;
	color: black;
	text-align: center;
	padding: 15px;
	font-family: verdana;
	list-style: none;
	border-radius: 10px;
}

@keyframes slider {

0% {
	left: 0;
}

20% {
	left: 0;
}

25% {
	left: -100%;
}

45% {
	left: -100%;
}

50% {
	left: -200%;
}

70% {
	left: -200%;
}

75% {
	left: -300%;
}

95% {
	left: -300%;
}

100% {
	left: -400%;
}

}

#slider {
	overflow: hidden;
}

#slider figure img {
	width: 20%;
	float: left;
}

#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 15s slider infinite;
}

.showcase {
	margin-top: 10px;
	height: 69vh;
	display: grid;
	grid-template-columns: 2fr 2fr;
	padding: 5px;
	grid-gap: 5px;
}

.left {
	font-size: 25px;
	color: black;
	text-align: center;
}

.picture{
	height: 70vh;
	background-image: url(../images/blush.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.showcase2 {
	height: 69vh;
	display: grid;
	grid-template-columns: 2fr 2fr;
	padding: 5px;
	grid-gap: 5px;
}

.right2 {
	font-size: 25px;
	color: black;
	text-align: center;
}

.picture2 {
	height: 100vh;
	background-image: url(../images/lip.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

a {
	text-decoration: none;
}

.footer {
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	color: black;
}

.foot {
	border: 2px black solid;
	margin-top: 50px;
	height: 100px;
	border-radius: 5px;
}







